*{
    font-family: sans-serif;
    box-sizing: border-box;
}

button{
    border-radius: 30px;
}

.container {
    overflow: hidden;
}

.filterDiv {
    float: left;
    background-color: #AAAAAA;
    color: #ffffff;
    width: 250px;
    min-height: 300px;
    padding: 40px 10px 0px 10px;
    text-align: center;
    margin: 30px 2px 2px 50px;
    display: none;
    border-radius: 5px;
}

.filterDiv p{
    text-align: left;
}

.show {
    display: block;
}

.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
}

.btn:hover {
    background-color: #ddd;
}

.btn.active {
    background-color: #AAAAFF;
    color: white;
}